.sfwp-hero {
  min-height: 80vh;

  &__contents {
    @include breakpoint(small) {
      flex-wrap: wrap;
    }
  }

  &__text {
    width: 48%;
    @include breakpoint(small) {
      width: 100%;
    }
    &-title {
      margin-bottom: var(--spacingMargin);
    }
  }

  &__image {
    width: 48%;
    @include breakpoint(small) {
      width: 100%;
    }
  }
}
